<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Optional theme -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
 
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
    <div class="row">
    <div style="width: auto" class="input-group">
        @if(Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Log out","Logout","User")
        }
        else{
                @Html.ActionLink("Register","Registration","User")
                <span> | </span>
                @Html.ActionLink("Log In", "Login","User")
                
        }

    </div>
</div></div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
    
</body>
</html>
